{{ define "telegram.default" }}
{{ range .Alerts }}
{{ if eq .Status "firing" }}
🔥 <b>{{ .Status | toUpper }}</b> 🔥
{{ else }}
✅ <b>{{ .Status | toUpper }}</b> ✅
{{ end }}

<b>🚨 Alert:</b> <code>{{ .Labels.alertname }}</code>
{{- if .Labels.severity }}
<b>🛑 Severity:</b> <code>{{ .Labels.severity }}</code>
{{- end }}

{{- if .Annotations.summary }}
<b>📝 Summary:</b> {{ .Annotations.summary }}
{{- end }}
{{- if .Annotations.message }}
<b>💬 Message:</b> {{ .Annotations.message }}
{{- end }}
{{- if .Annotations.description }}
<b>📋 Description:</b> {{ .Annotations.description }}
{{- end }}

<b>🔍 Details:</b> 
{{ .Labels }}
------------------------
{{ end }}
{{ end }}
